@font-face {
    font-family: 'digital-clock-font';
    src: url(digital-7/digital-7.ttf);
}

.container {
    width: 30vw;
    min-width: 20rem;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #CBE7D6;
    border: solid;
    border-width: 0.15rem;
    border-color: #0c451b;
    border-radius: 1.25rem;
    box-shadow: .3rem .3rem #0c451b;
}

.row {
    display: flex;
    width: 100%;
    text-align: center;
}

.button {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #61b34f;
    padding: 2rem;
    border: solid;
    border-width: 0.15rem;
    border-color: #198E16;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem #198E16;
    margin: .2rem;
    flex: 1 1 0;
}

.buttonOp {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #82c276;
    padding: 2rem;
    border: solid;
    border-width: 0.15rem;
    border-color: #198E16;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem #198E16;
    margin: .2rem;
    flex: 1 1 0;
}

#screen {
    color: white;
    font-family:'digital-clock-font';
    font-size: 3rem;
    src: 'Orbitron', sans-serif;
    background-color: black;
    padding: 1.25rem;
    border: solid;
    border-width: 0.15rem;
    border-color: gray;
    border-radius: .4rem;
    margin: .15rem;
    flex: 1 1 0;
    /* width: 75%; */
}

/* #c {
    width: 75%;
} */