@font-face {
    font-family: 'digital-clock-font';
    src: url(digital-7/digital-7.ttf);
}


body {
    background-image: url(https://cdn.stocksnap.io/img-thumbs/960w/writing-desk_E8VATIYGAF.jpg);
    background-size: cover;
    text-align: center;
}

.container {
    width: 25rem;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #CBE7D6;
    border: solid;
    border-width: 0.15rem;
    border-color: #0c451b;
    border-radius: 1.25rem;
    box-shadow: .3rem .3rem #0c451b;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.row {
    width: 100%;
}

.button {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #61b34f;
    padding: 2rem;
    border: solid;
    border-width: 0.15rem;
    border-color: #198E16;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem #198E16;
    margin: .5rem;
}

.buttonOp {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #82c276;
    padding: 2rem;
    border: solid;
    border-width: 0.15rem;
    border-color: #198E16;
    border-radius: 1.5rem;
    box-shadow: .2rem .2rem #198E16;
    margin: .5rem;
}

#screen {
    text-align: right;
    color: white;
    font-family:'digital-clock-font';
    font-size: 3rem;
    src: 'Orbitron', sans-serif;
    background-color: black;
    padding: 1.25rem;
    border: solid;
    border-width: 0.15rem;
    border-color: gray;
    border-radius: .4rem;
    margin: .45rem;
    grid-column-start: 2;
    grid-column-end: 5;
    /* keeps output from running of the screen, but obscures part of it */
    overflow: hidden; 
    text-overflow: ellipsis;
    /* Removing the line below because it messes up the operation displays after pressing enter */
    /* direction: rtl; */
}
